<div class="navbarTinder">
	<ul class="nav justify-content-center">
		<li class="nav-item"><a class="nav-link text-info" [routerLink]="['/perfil']" href="/src/app/components/perfil/perfil.component.html">Perfil</a>
		</li>
		<li class="nav-item"><a class="nav-link text-info" [routerLink]="['/matches']" href="/src/app/components/matches/matches.component.html">Matches</a>
		</li>
	</ul>
</div>

<div id="grilla">

	<div class="col-md-4 text-center" style="margin: auto">
		<h2 class="subtitulo">Perfiles seleccionados</h2>
		<div class="table-responsive-md">
			<table id="listado" class="table">

				<tr>
					<td style="font-weight: bold; text-align: left">Nombre</td>
					<td style="font-weight: bold">Género</td>
					<td style="font-weight: bold">Like</td>
					<td style="font-weight: bold">DisLike</td>
				</tr>
				
				<tr *ngFor="let user of userList">
				
					<!-- <td><img src="images/1.jpg" class="imgTinder" alt="Responsive image" style="width: 60px"></td>  -->
					<td style="text-align: left">{{user.nombre}}</td>
					<td>{{user.genero}}</td>
					<td>
						<form method="POST" [routerLink]="['/like']">
							<input type="hidden" name="id1" id="personId"
								value="{{user.idusuario}}" /> 
							<input type="hidden" name="id2" id="personId2" 
								value="{{user.idusuario}}" />
							<button type="submit" name="submit" value="value" id="btn-like"
								class="btn btn-success">♥</button>
						</form>
					</td>
					<td>
						<form method="POST" [routerLink]="['/dislike']">
							<input type="hidden" name="id1" id="personId"
							value="{{user.idusuario}}" /> 
							<input type="hidden"
								name="id2" id="personId" value="{{user.idusuario}}" />
							<button type="submit" name="submit" value="value" id="btn-dislike"
								class="btn btn-danger">X</button>
						</form>
					</td>
				</tr>
				
			</table>
		</div>
	</div>

</div>

