<div>
	<div class="navbarTinder">
		<ul class="nav justify-content-center">
			<li class="nav-item"><a [routerLink]="['/bienvenue']">Inicio</a></li>
			<li class="nav-item"><a [routerLink]="['/matches']">Matches</a></li>
		</ul>
	</div>
	<div id="grilla">

		<div class="col-md-4 text-center" style="margin: auto">
			<h2 class="subtitulo">Perfil</h2>
			<div class="table-responsive-md">
				<table id="usuario" class="table">
                    
					<tr>
						<td colspan="2"><img src="/../../../assets/img/user.png"
							height="400px" /></td>
					</tr>
					<tr>
						<td>Nombre</td>
						<td>{{user.nombre}}</td>
					</tr>
					<tr>
						<td>Genero</td>
						<td>{{user.genero}}</td>
					</tr>
					<tr>
						<td>Fecha de nacimiento</td>
						<td>{{user.edad}}</td>
					</tr>
					<tr>
						<td colspan="2">
							
                                <button type="submit" name="submit" value="value" id="btn-like"
                                    
									class="btn btn-danger" (click)="irAInicio()" >Cerrar sesión</button>
							
						</td>
					</tr>
				</table>
			</div>
		</div>

	</div>
</div>