.titulo{
    color: #ffffff;
     font-family: 'Pacifico', cursive;
     font-size: 60px;
     font-weight: bold;
     text-align: center;
     margin-top: 40px;
     margin-bottom: 40px;
     
 }
 
 
 .subtitulo{
     color: #b7b7b7;
     font-family: 'Pacifico', cursive;
     font-size: 35px;
     text-align: center;
     margin-top: 40px;
     margin-bottom: 5px;
     
 }
 
 #grilla{
     width: 100%;
     
 }
 
 .navbarTinder{
     margin-top: -15px;
     text-align: center;
     margin-bottom: 20px;
 }
 
 body{
     background-image: url(../img/fondo.jpg);
     background-position: center 18px;
     background-size: 420px;
     background-repeat: no-repeat;
 }
 
 
 
 .tabla{
     }
     
 #btn-like {
   opacity: 1;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
 }
 
 #btn-like:hover{
     opacity:0.2;
 }
 
 #btn-dislike {
   opacity: 1;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
 }
 