<div class="navbarTinder">
		<ul class="nav justify-content-center">
			<li class="nav-item"><a class="nav-link text-info" [routerLink]="['/bienvenue']">Inicio</a></li>
			<li class="nav-item"><a class="nav-link text-info" [routerLink]="['/perfil']">Perfil</a></li>			
		</ul>
	</div>

	<div id="grilla">

		<div class="col-md-4 text-center" style="margin: auto">
			<h2 class="subtitulo">Matches</h2>
			<div class="table-responsive-md">
				<table id="listado" class="table">

					<tr>
						<td style="font-weight: bold; text-align: left">Nombre</td>
						<td style="font-weight: bold">Género</td>
						<td style="font-weight: bold">Chat</td>
					</tr>
					<tr *ngFor="let user of matches">
					<!--<tr th:each="users : ${matches}">-->

						<td style="text-align: left">{{user.nombre}}</td>
						<td>{{user.genero}}</td>
						<td>	
						<button value="value" id="btn-like"	class="btn btn-info">Chat</button>							
						</td>
					</tr>
					
				</table>
			</div>
		</div>

	</div>