<div class="navbarTinder">
		<ul class="nav justify-content-center">
			<li class="nav-item">
				<form method="POST" [routerLink]="['/listado']">
					<input type="hidden" name="id" id="personId"
						value="{{user.idusuario}}" />
					<button type="submit" name="submit" value="value" id="btn-like"
						class="btn btn-link">Inicio</button>
				</form>
			</li>
			<li class="nav-item">
				<form method="POST" [routerLink]="['/perfil']">
					<input type="hidden" name="id" id="personId"
						value="{{user.idusuario}}" />
					<button type="submit" name="submit" value="value" id="btn-like"
						class="btn btn-link">Perfil</button>
				</form>
			</li>
		</ul>
	</div>

	<div id="grilla">

		<div class="col-md-4 text-center" style="margin: auto">
			<h2 class="subtitulo">Matches</h2>
			<div class="table-responsive-md">
				<table id="listado" class="table">

					<tr>
						<td style="font-weight: bold; text-align: left">Nombre</td>
						<td style="font-weight: bold">Género</td>
						<td style="font-weight: bold">Chat</td>
					</tr>
					<tr *ngFor="let user of matches">
					<!--<tr th:each="users : ${matches}">-->

						<td style="text-align: left">{{user.nombre}}</td>
						<td>{{user.genero}}</td>
						<td>
							<form method="POST" [routerLink]="['/like']">
								<input type="hidden" name="id1" id="personId"
									value="{{user.idusuario}}" /> 
								<input type="hidden" name="id2" id="personId2" 
									value="{{user.idusuario}}" />
								<button type="submit" name="submit" value="value" id="btn-like"
									class="btn btn-info">Chat</button>
							</form>
						</td>
					</tr>
					
				</table>
			</div>
		</div>

	</div>