<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Matches</title>
<link rel="stylesheet" href="resources/css/estilos.css">
<link rel="stylesheet" href="resources/css/bootstrap.css">
<link
	href="https://fonts.googleapis.com/css?family=Pacifico&display=swap"
	rel="stylesheet">
</head>

<body>
	<div class="titulo">
		<p>LucaTinder</p>
	</div>

	<div class="navbarTinder">
		<ul class="nav justify-content-center">
			<li class="nav-item">
				<form method="POST" th:action="@{/listado}">
					<input type="hidden" name="id" id="personId"
						th:value="${user.idusuario}" />
					<button type="submit" name="submit" value="value" id="btn-like"
						class="btn btn-link">Inicio</button>
				</form>
			</li>
			<li class="nav-item">
				<form method="POST" th:action="@{/perfil}">
					<input type="hidden" name="id" id="personId"
						th:value="${user.idusuario}" />
					<button type="submit" name="submit" value="value" id="btn-like"
						class="btn btn-link">Perfil</button>
				</form>
			</li>
		</ul>
	</div>

	<div id="grilla">

		<div class="col-md-4 text-center" style="margin: auto">
			<h2 class="subtitulo">Matches</h2>
			<div class="table-responsive-md">
				<table id="listado" class="table">

					<tr>
						<td style="font-weight: bold; text-align: left">Nombre</td>
						<td style="font-weight: bold">Género</td>
						<td style="font-weight: bold">Chat</td>
					</tr>

					<tr th:each="users : ${matches}">

						<!-- <td><img src="images/1.jpg" class="imgTinder" alt="Responsive image" style="width: 60px"></td> -->
						<td style="text-align: left" th:text=${users.nombre}>Nombre</td>
						<td th:text=${users.genero}>Fecha de Nacimiento</td>
						<td>
							<form method="POST" th:action="@{/like}">
								<input type="hidden" name="id1" id="personId"
									th:value="${user.idusuario}" /> 
								<input type="hidden" name="id2" id="personId2" 
									th:value="${users.idusuario}" />
								<button type="submit" name="submit" value="value" id="btn-like"
									class="btn btn-info">Chat</button>
							</form>
						</td>
					</tr>
					
				</table>
			</div>
		</div>

	</div>
</body>
</html>