<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"><h1>Welcome to {{ title }}!</h1></div>  -->

<!-- 1. DEFINIMOS la ruta (el valor de 'path' de Routes en app-routing.module) -->
<a routerLink="/bienvenue">Bienvenida</a>
<a routerLink="/login">Login</a>        
<a routerLink="/matches">Matches</a>    <!-- no me cambia a matches directamente -->
<a routerLink="/perfil">Perfil</a>

<router-outlet></router-outlet> 
<!-- 3(a-r). busca el componente que has clicado y lo cargaty -->
